  
html    
    head
        style
            include ../css/style.css
        title="express, pug, google"
    body
        h1 Zaloguj się, naciśnij przycisk
            a(href="/auth/google"): div(class="container"): button.google_auth_button Login